<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" type="style/css" href="css/style.css">
  <meta charset="UTF-8">
  <title>Calendar</title>
   <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
 <body>
    <img src= "https://31.media.tumblr.com/e23c21e232cfb664a93cc0f614831366/tumblr_nsctbgJIlG1ua26pjo4_540.gif" height = "150px" width = "150px">
   <a href="/"><img id = "er" src = "https://38.media.tumblr.com/865ec1428a09ca620030eff4ea84c1a5/tumblr_nsctbgJIlG1ua26pjo1_540.gif" height = "200px" width = "200px"></a>
   <img src = "https://38.media.tumblr.com/0c9790cc6bc01121e3016ae1de2cb286/tumblr_nsctbgJIlG1ua26pjo5_540.gif" height = "150px" width = "150px">
   <h1 id = "calendar">Calendar</h1>
   <h2>Today</h2>
   <table style="margin: auto" border = "1" font-size: 18px; background-color: #9470B8; color: #639>
      <tr>
        <th>Time</th><td>5 am</td><td>6 am</td><td>7 am</td><td>8 am</td><td>9 am</td><td>10 am</td><td>11 am</td><td>12 pm</td><td>1 pm</td><td>2 pm</td><td>3 pm</td><td>4 pm</td>
     </tr>
     <tr>
       <th>Activity</th><td><%= @time[:t5] %></td><td><%= @time[:t6] %></td><td><%= @time[:t7] %></td><td><%= @time[:t8] %></td><td><%= @time[:t9] %></td><td><%= @time[:t10] %></td><td><%= @time[:t11] %></td><td><%= @time[:t12] %></td><td><%= @time[:t13] %></td><td><%= @time[:t14] %></td><td><%= @time[:t15] %></td><td><%= @time[:t16] %></td>
     </tr>
     <tr>
       <th>Time</th><td>5 pm</td><td>6 pm</td><td>7 pm</td><td>8 pm</td><td>9 pm</td><td>10 pm</td> <td>11 pm</td><td>12 am</td><td>1 am</td><td>2 am</td><td>3 am</td><td>4 am</td>
     </tr>
     <tr>
       <th>Activity</th><td><%= @time[:t17] %></td><td><%= @time[:t18] %></td><td><%= @time[:t19] %></td><td><%= @time[:t20] %></td><td><%= @time[:t21] %></td><td><%= @time[:t22] %></td><td><%= @time[:t23] %></td><td><%= @time[:t24] %></td><td><%= @time[:t1] %></td><td><%=@time[:t2] %></td><td><%= @time[:t3] %></td><td><%= @time[:t4] %></td>
     </tr>
 </body>
</html>
